/*many value variable list type*/
$linkColor: #08c #333!default;//the first is default color;the second is hover color
a{
	color:nth($linkColor,1);
	&:hover{
		color:nth($linkColor,2);
	}
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
@import "demo31";
